
<br>
<body>
  <div align="center">
    <table class="table-dark"width="1627" height="67" border="1">
      <tr>
        
        <td width="53" scope="row"><div align="center">4</div></td>
        <td width="188" scope="col"><div align="center">{{users.name}}</div></td>
        <td width="177" scope="col"><div align="center">{{users.birth_year}}</div>  </td>
        <td width="165" scope="col"><div align="center"><app-world></app-world></div></td>        
        <td width="85" scope="col"><div align="center"><app-vehicles13></app-vehicles13></div></td>

        
        <td width="163" scope="col">  <app-filims></app-filims> </td> 
        
      <td width="163" scope="col">  <app-filims2></app-filims2> </td> 

      <td width="163" scope="col">  <app-filims3></app-filims3> </td> 
 
      </tr>

     
      </table>
</div>



