<br>
<body>

  <div  align="center">
    <table  class="table-dark"width="1624" height="49" border="1">
      <tr>
        <th width="70" scope="col"><div align="center">ID</div></th>
        <th width="247" scope="col"><div align="center">ADI</div>          <div align="center"></div></th>
        <th width="233" scope="col"><div align="center">DOĞUM YILI</div></th>
        <th width="216" scope="col"><div align="center">GEZEGEN</div></th>
        <th width="140" scope="col"><div align="center">YILDIZ GEMİLERİ</div></th>
        <th width="652" scope="col"><div align="center">FİLİMLER</div></th>
      </tr>
    </table>
  </div>
  </body>
  <br>
  <app-user></app-user>
}

<app-home></app-home>

<app-character3></app-character3>

<app-character4></app-character4>

<app-character5></app-character5>

<app-character6></app-character6>

<app-character7></app-character7>

<app-character8></app-character8>

<app-character9></app-character9>

