<br>
<body>
  <div align="center">
    <table class="table-dark"width="1627" height="67" border="2">
      <tr>
        
        <th width="69" scope="row"><div align="center">2</div></th>
        <th width="252" scope="col"><div align="center">{{user.name}}</div></th>
        <th width="241" scope="col"><div align="center">{{user.birth_year}}</div></th>          
        <th width="211" scope="col"><div align="center"><app-world></app-world></div></th>
        <th width="142" scope="col"><div align="center"><app-vehicles2></app-vehicles2></div></th>

        
        <th width="99" scope="col">  <app-filims></app-filims> </th> 
        
      <th width="136" scope="col">  <app-filims2></app-filims2> </th> 

      <th width="136" scope="col">  <app-filims3></app-filims3> </th> 

      <th width="136" scope="col">  <app-filims4></app-filims4> </th> 

      <th width="139" scope="col">  <app-filims5></app-filims5> </th> 



      </tr>


     
      </table>
</div>
</body>